<div class="d-flex">
  <div class="welcome-container d-flex align-items-center">
    <div class="mt-5 text-center rounded-2 mx-5">
      <div class="header p-4 m-3 ">
          <h1 class="m-3">Fill in your information</h1>
          <p>To provide you with the best possible help we ask you to fill in some extra information about yourself. This will give our bot the context it needs to help you.</p>
      </div>
    </div>
  </div>
  <div class="signup-container d-flex align-items-center justify-content-center">
<% if !resource.completed %>
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :put}) do |f| %>
    <div class="form-inputs">
      <div class="d-flex gap-3">
      <%= f.input :age %>
      <div class="gender-input"><%= f.input :gender, collection: [ "female", "male", "non-binary", "other" ] %></div>
      </div>
      <div>
      <%= f.input :mood, :label => "How do you feel?", collection: [ "very good", "good", "fine", "not good", "very bad" ] %>
    </div>
      <%= f.input :context, as: :text%>
      <%= f.input :current_password,
                  required: false,
                  input_html: { autocomplete: "current-password" }%>
    </div>
    <div class="form-actions">
      <%= f.button :submit, "Update", class: "button-on-form"%>
    </div>
  <% end %>
  </div>

<% else %>
<div class="container">
  <h2 class="pt-5">Edit your password</h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email, required: true, autofocus: true %>

      <%# <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <%# <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <%# <% end %>
      <%= f.input :password,
                  hint: "leave it blank if you don't want to change it",
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :current_password,
                  hint: "we need your current password to confirm your changes",
                  required: false,
                  input_html: { autocomplete: "current-password" } %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Update", class: "btn btn-primary mb-5" %>
    </div>
  <% end %>
<%= link_to "Back", :back %>
<% end %>

<%# <h3>Cancel my account</h3>

<div>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %></div>

</div>
</div>
</div>
