<%# I am making a main wrapper of my page here by making a custom class for styling it in css %>
<div class="container home-page-container">

  <%# this is where we see chat about: and the title of the current problem %>
  <h1 class="chat-title">Chat about: <%= @chat.problem.title %></h1>

  <h2 class="messages-heading">Your conversation:</h2>

  <%# this is the wrapper where I see the chat %>
  <%# render_markdown converts the weird text into HTML %>
  <div id="messages" class="messages-list">
    <%= render "messages/messages", messages: @chat.messages.order(:created_at) %>
  </div>


  <div id="loader">
    <%= render "messages/loading" %>
  </div>

  <%= link_to problem_path(@chat.problem), class: "back-link" do %>
    <i class="fa fa-arrow-left"></i> Back to Chats
  <% end %>

  <div id="message-form" class="new-message-form">
    <%= render "messages/form", chat: @chat, message: @message %>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const form = document.querySelector('.new-message-form form'); // Adjust this selector if your form structure is different
    form.addEventListener('submit', function() {
      document.getElementById('loading').style.display = 'block'; // Show loading indicator
    });
  });
</script>
