

<div class="d-flex h-100">
  <div class="welcome-container">
    <div class="mt-5 text-center rounded-2 mx-5 ">
      <div class="header p-4 m-3 ">
        <h1 class="m-3">Welcome to back</h1>
        <h2>Let’s continue your mental wellness journey.</h2>
        <p>Pick up where you left off—your space for reflection, balance, and emotional clarity is waiting.</p>
      </div>
    </div>
  </div>

  <div class="login-container">
    <h2>Log in</h2>

    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs">
        <%= f.input :email,
                    required: false,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
        <%= f.input :password,
                    required: false,
                    input_html: { autocomplete: "current-password" } %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>

      <div class="btn btn form-actions w-100 p-0 d-flex flex-column align-items-start">
        <div class="d-flex justify-content-between w-100">
          <%= f.button :submit, "Log in" , class: "button login-button"%>
          <%= render "devise/shared/links" %>
        </div>

        <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
          <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
        <% end %>
      </div>
    <% end %>
  </div>
</div>
