<!DOCTYPE html>
<html>
  <head>
    <title>Pocket PocketPsychologist</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
     <div class="main-content <%= controller_name %> <%= action_name %>">
        
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <% if @side_nav %>
          <div class="row position-relative" data-controller="toggle">
              <%= link_to "#", class: " d-none open-side-nav text-dark",
              data: { action: "click->toggle#call", toggle_target: "show" } do %>
                <i class="ms-2 fa-regular fa-square-caret-right"></i>
              <% end %>
            <div class="col-md-3 sidebar pt-1 pb-1" data-toggle-target="hideable">
              <%= render "shared/side_nav", problems: @problems %>
            </div>
            <div class="col-md-9 my-4">
              <%= yield %>
            </div>
          </div>
        <% else %>
          <%= yield %>
        <% end %>
     </div>
  </body>
</html>
